<?xml version="1.0" encoding="UTF-8"?>
<!-- URLが打たれるとまずweb.xmlに飛んでくる  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>threads.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert</servlet-name>
    <servlet-class>threads.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>threads.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>up</servlet-name>
    <servlet-class>threads.up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>up</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>
</web-app>